/* General */

@media screen and (max-width: 1260px) {
    html.overflow {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1080px) {
    .main-caption {
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
    }
    
    .main-sub-caption {
        font-size: 18px;
        line-height: 27px;
    }
    
    .general-buttons {
        display: none;
    }
}