/* General */

@media screen and (max-width: 1260px) {
    html.overflow {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1080px) {
    .main-caption {
        font-weight: 500;
        font-size: 36px;
        line-height: 53px;
    }
    
    .main-sub-caption {
        font-size: 18px;
        line-height: 27px;
    }
    
    .general-buttons {
        display: none;
    }
    
    .breadcrumbs {
        margin: 30px 0px 50px;
    }
}

@media screen and (max-width: 768px) {
    
    .main-caption {
        font-size: 24px;
        line-height: 36px;
    }
    
    .general-more {
        font-size: 12px;
        line-height: 150%;
        align-items: center;
        
        .icon-more-arrow {
            margin-left: 5px;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 576px) {
    
    main {
        margin-top: 30px;
    }
    
    .breadcrumbs {
        display: none;
    }
    
    .main-caption-m {
        font-size: 16px;
        line-height: 24px;
    }
}