@media screen and (min-width: 1260px) {
    
    /* General */
    
    .general-more {
        &:hover {
            color: #7B7B7B;
        }
    }
    
    .general-buttons {
        button {
            &:hover {
                span {
                    &:before {
                        color: #80B435;
                    }
                }
            }
        }
    }
    
    .button-to-top {
        &:hover {
            .icon-to-top {
                &::before {
                    color: #80B435;
                }
            }
        }
    }
    /* Header */
    
    .header__name-category__item {
        &:hover {
            
            .header__name-category__button {
                color: #80B435;
                
                .icon-drop {
                    transform: rotate(180deg);
                }
            }
            
            .header__category-block {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s .2s;
                z-index: 2;
            }
        }
    }
    
    .header__enter {
        &:hover {
            color: #ffffff;
            
            .icon-enter {
                &::before {
                    color: #ffffff;
                }
            }
        }
    }
    
    .header__live-search {
        .icon-search {
            &:hover {
                &::before {
                    color: #ffffff;
                }
            }
            
        }
    }
    
    .header__nav__link {
        &:hover {
            color: #ffffff;
        }
    }
    
    .header__category__link,
    .header__sub__link {
        &:hover {
            color: #80B435;
        }
    }
    
    .header__cart__delete {
        &:hover {
            color: #000000;
        }
    }
    
    .header__cart__link {
        &:hover {
            .header__cart {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s .2s;
                z-index: 2;
            }
        }
    }
    
    /* / Header */
    
    /* Product */
    
    .product__item {
        &:hover {
            .product__add-to-cart {
                opacity: 1;
            }
        }
    }
    
    .add-to-favorites {
        &:hover {
            .icon-like {
                &::before {
                    color: #80B435;
                }
            }
        }
    }
    
    /* /Product */
    
    /* Reviews */
    
    .reviews__callback {
        &:hover {
            color: #7B7B7B;
            
            .icon-message {
                &::before {
                    color: #7B7B7B;
                }
            }
        }
    }
}