@media screen and (min-width: 1260px) {
    
    /* General */
    
    .general-more {
        &:hover {
            color: #7B7B7B;
        }
    }
    
    .general-buttons {
        button {
            &:hover {
                color: #80B435;
            }
        }
    }
    
    .button-to-top {
        &:hover {
            .icon-to-top {
                &::before {
                    color: #80B435;
                }
            }
            
            .to-top {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    
    .item__more {
        &:hover {
            color: #242424;
        }
    }
    
    .main-button {
        &:hover {
            background-color: #A5E845;
        }
    }
    
    .main-button-else {
        &:hover {
            color: #575757;
        }
    }
    
    .pagination__item {
        a:hover {
            color: #80B435;
        }
    }
    
    .pagination__link {
        &:hover {
            color: #80B435;
        }
    }
    
    .general-calc button {
        &:hover {
            color: #80B435;
        }
    }
    
    .main-input,
    .main-textarea {
        &:hover {
            border-color: #3D3D3D;
        }
    }
    
    .form-button {
        &:hover {
            color: #A5E845;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        }
    }
    
    .main-button-else {
        &:hover {
            color: #80B435;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        }
    }
    
    /* /General */
    /* Header */
    
    .header__name-category__item {
        &:hover {
            
            .header__name-category__button {
                color: #80B435;
                
                .icon-drop {
                    transform: rotate(180deg);
                }
            }
            
            .header__category-block {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s .2s;
                z-index: 2;
            }
        }
    }
    
    .header__enter {
        &:hover {
            color: #ffffff;
            
            .icon-enter {
                &::before {
                    color: #ffffff;
                }
            }
        }
    }
    
    .header__live-search {
        .icon-search {
            &:hover {
                &::before {
                    color: #ffffff;
                }
            }
            
        }
    }
    
    .header__nav__link {
        &:hover {
            color: #ffffff;
        }
    }
    
    .header__category__link,
    .header__sub__link {
        &:hover {
            color: #80B435;
        }
    }
    
    .header__cart__delete {
        &:hover {
            color: #000000;
        }
    }
    
    .header__cart__link {
        &:hover {
            .header__cart {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s .2s;
                z-index: 2;
            }
        }
    }
    
    .header__callback__link {
        &:hover {
            color: #A5E845;
        }
    }
    
    .header__socila__link {
        &:hover {
            color: #A5E845;
        }
    }
    
    .header__shop__item {
        &:hover {
            color: #80b435;
        }
    }
    
    .header__cart__link {
        &:hover {
            .header__shop__item {
                color: #80b435;
            }
        }
    }
    
    /* / Header */
    
    /* Product */
    
    .product__item {
        &:hover {
            .product__add-to-cart {
                opacity: 1;
            }
        }
    }
    
    .add-to-favorites {
        &:hover {
            .icon-like {
                &::before {
                    color: #80B435;
                }
            }
        }
    }
    
    .product__name {
        &:hover {
            color: #747272;
        }
    }
    
    /* /Product */
    
    /* Catalog */
    
    .catalog-sub-sub__link {
        &:hover {
            color: #292929;
        }
    }
    
    .catalog-sub__link {
        &:hover {
            color: #747272;
        }
    }
    
    .catalog__link {
        &:hover {
            color: #80B435;
        }
    }
    
    .catalog__delete-button {
        &:hover {
            transform: rotate(135deg);
        }
    }
    .catalog__checked {
        .catalog-sub__item-delete {
            &:hover {
                color: #000000;
            }
        }
    }
    
    .catalog__drop__button {
        &:hover {
            color: #575757;
        }
    }
    
    .catalog__drop__item {
        &:hover {
            background-color: #F4F4F4;
        }
    }
    
    /* News */
    
    .news__caption {
        &:hover {
            color: #696868;
        }
    }
    
    /* Reviews */
    
    .reviews__callback {
        &:hover {
            color: #7B7B7B;
            
            .icon-message {
                &::before {
                    color: #7B7B7B;
                }
            }
        }
    }
    
    button.reviews__icons {
        &:hover {
            .icon-like-finger {
                &::before {
                    color: #3D3D3D;
                }
            }
        }
    }
    
    /* /Reviews */
    
    /* Product page */
    
    .img-button {
        &:hover {
            background-color: #F1F1F1;
        }
    }
    
    .product-page__img__item {
        &:hover {
            border-color: #333333;
        }
    }
    
    .product-add__reviews {
        &:hover {
            color: #000000;
        }
    }
    
    .product-tabs__item {
        &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            color: #80B435;
        }
    }
    
    /* /Product page */
    
    /* Contact */
    
    .contact__callback__link {
        &:hover {
            color: #80B435;
        }
    }
    
    .general-social__item {
        &:hover {
            background-color: #648e29;
        }
    }
    
    /* /Contact */
    
    /* Blog */
    
    .popular__info__caption {
        &:hover {
            color: #3D3D3D;
        }
    }
    /* Footer */
    
    .footer-social__link {
        &:hover {
            color: #A5E845;
        }
    }
    
    .footer-info__link,
    .footer-callback__link {
        &:hover {
            color: #ffffff;
        }
    }
    
    /* /Footer */
    
    /* Popup */
    
    .close__popup {
        &:hover {
            color: #000000;
        }
    }
    
    .popup-enter__link {
        &:hover {
            color: #1a1a1a;
        }
    }
    
    /* /Popup */
    
}