[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pagi-left:before {
  content: "\e915";
  color: #949494;
}
.icon-pagi-right:before {
  content: "\e916";
  color: #949494;
}
.icon-arrow-filter:before {
  content: "\e913";
}
.icon-arrow-filter-bottom:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e91b";
}
.icon-place:before {
  content: "\e910";
  color: #fff;
  transition: color .4s;
}
.icon-to-top:before {
  content: "\e911";
  color: #ffffff;
  transition: color .4s;
}
.icon-e-mail:before {
  content: "\e912";
  color: #fff;
  transition: color .4s;
}
.icon-drop:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e900";
  color: #828282;
  transition: color .4s;
}
.icon-arrow-right:before {
  content: "\e901";
  color: #828282;
  transition: color .4s;
}
.icon-cart:before {
  content: "\e902";
  color: #828282;
  transition: color .4s;
}
.icon-enter:before {
  content: "\e903";
  color: #d3d3d3;
  transition: color .4s;
}
.icon-fb:before {
  content: "\e904";
  color: #80b435;
  transition: color .4s;
}
.icon-inst:before {
  content: "\e906";
  color: #80b435;
  transition: color .4s;
}
.icon-like:before {
  content: "\e907";
  color: #80b435;
  transition: color .4s;
}
.icon-like-finger:before {
  content: "\e908";
  color: #bdbdbd;
  transition: color .4s;
}
.icon-message:before {
  content: "\e909";
  color: #bdbdbd;
  transition: color .4s;
}
.icon-more-arrow:before {
  content: "\e90a";
  color: #ed6663;
  transition: color .4s;
}
.icon-phone:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
  color: #d3d3d3;
  transition: color .4s;
}
.icon-star:before {
  content: "\e90d";
  color: #80b435;
  transition: color .4s;
}
.icon-teleg:before {
  content: "\e90f";
  color: #80b435;
  transition: color .4s;
}
