/* Banner */

.main-banner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

/* Banner */

/* Product list */

.product {
    margin-bottom: 100px;
}

.header-block {
    position: relative;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -50px;
}

.product__item {
    width: calc(25% - 30px);
    margin-bottom: 50px;
    padding-top: 25px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

.add-to-favorites {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    
    .icon-like {
        &::before {
            color: #575757;
        }
    }
}

.product__add-to-cart  {
    position: absolute;
    left: 35px;
    top: calc(50% + 20px);
    transform: translateY(-50%);
    max-width: calc(100% - 70px);
    opacity: 0;
    transition: opacity .4s;
}

.product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 255px;
    
    img {
        object-fit: cover;
        object-position: center;
    }
}

.product__name {
    font-size: 18px;
    line-height: 140%;
    color: #575757;
    text-align: center;
    font-weight: 400;
    margin: 10px 0px 20px;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #E0E0E0;
}

.product__stars__list {
    display: flex;
}

.product__stars__item {
    margin-right: 5px;
    
    &:last-child {
        margin-right: 0px;
    }
    
    &.active {
        ~ .product__stars__item {
            .icon-star {
                &::before {
                    color: #bdbdbd;
                }
            }
        }
    }
}

.product__price {
    display: flex;
    align-items: center;
}

.current_price {
    color: #575757;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    
    span {
        font-weight: 700;
        padding-right: 5px;
    }
}

.old__price {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #575757;
    margin-right: 10px;
    
    + .current_price {
        span {
            color: #ED6663;
        }
    }
}


.product-slider__list {
    margin-bottom: 0px;
    height: 450px;
    position: relative;
    margin-top: 32px;
}

.product-slider__item {
    width: calc(16.666% - 30px);
    position: absolute;
    transform: translateX(calc(-100% - 60px));
    transition: transform .6s, opacity .6s;
    
    &.show {
        opacity: 1;
        transform: translateX(0px);
        
        + .product-slider__item {
            opacity: 1;
            transform: translateX(calc(100% + 30px));
            
            + .product-slider__item {
                opacity: 1;
                transform: translateX(calc(200% + 60px));
                
                + .product-slider__item {
                    opacity: 1;
                    transform: translateX(calc(300% + 90px));
                    
                    + .product-slider__item {
                        opacity: 1;
                        transform: translateX(calc(400% + 120px));
                        
                        + .product-slider__item {
                            opacity: 1;
                            transform: translateX(calc(500% + 150px));
                            
                            ~ .product-slider__item {
                                opacity: 0;
                                transform: translateX(calc(600% + 180px));
                            }
                        }
                    }
                }
            }
        }
    }
}