/* Banner */

.main-banner__list {
    position: relative;
    height: 500px;
    margin-bottom: 100px;
}

.main-banner__item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity .8s;
    
    &.show {
        opacity: 1;
        z-index: 1;
    }
}

/* Banner */

/* Product list */

.product {
    margin-bottom: 100px;
}

.header-block {
    position: relative;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -50px;
}

.product__item {
    width: calc(25% - 30px);
    margin-bottom: 50px;
    padding-top: 25px;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

.add-to-favorites {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    
    .icon-like {
        &::before {
            color: #575757;
        }
    }
}

.product__add-to-cart  {
    position: absolute;
    left: 35px;
    top: calc(50% + 20px);
    transform: translateY(-50%);
    max-width: calc(100% - 70px);
    opacity: 0;
    transition: opacity .4s;
}

.product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 255px;
    
    img {
        object-fit: cover;
        object-position: center;
    }
}

.product__name {
    font-size: 18px;
    line-height: 140%;
    color: #575757;
    text-align: center;
    font-weight: 400;
    margin: 10px 0px 20px;
    overflow: hidden;
    height: 100px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #E0E0E0;
}

.general__stars__list {
    display: flex;
}

.general__stars__item {
    margin-right: 5px;
    
    &:last-child {
        margin-right: 0px;
    }
    
    &.active {
        ~ .general__stars__item {
            .icon-star {
                &::before {
                    color: #bdbdbd;
                }
            }
        }
    }
}

.product__price {
    display: flex;
    align-items: center;
}

.current_price {
    color: #575757;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    
    span {
        font-weight: 700;
        padding-right: 5px;
    }
}

.old__price {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: #575757;
    margin-right: 10px;
    
    + .current_price {
        span {
            color: #ED6663;
        }
    }
}


.product-slider__list {
    margin-bottom: 0px;
    height: 450px;
    position: relative;
    margin-top: 32px;
}

.product-slider__item {
    width: calc(16.666% - 30px);
    position: absolute;
    transform: translateX(calc(-100% - 60px));
    transition: transform .6s, opacity .6s;
    
    &.show {
        opacity: 1;
        transform: translateX(0px);
        
        + .product-slider__item {
            opacity: 1;
            transform: translateX(calc(100% + 30px));
            
            + .product-slider__item {
                opacity: 1;
                transform: translateX(calc(200% + 60px));
                
                + .product-slider__item {
                    opacity: 1;
                    transform: translateX(calc(300% + 90px));
                    
                    + .product-slider__item {
                        opacity: 1;
                        transform: translateX(calc(400% + 120px));
                        
                        + .product-slider__item {
                            opacity: 1;
                            transform: translateX(calc(500% + 150px));
                            
                            ~ .product-slider__item {
                                opacity: 0;
                                transform: translateX(calc(600% + 180px));
                            }
                        }
                    }
                }
            }
        }
    }
}

/* /Product list */

/* Category */

.category {
    margin-bottom: 100px;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: 50px;
}

.category__item {
    width: calc(20% - 30px);
    height: 200px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(87, 87, 87, 0.25), rgba(87, 87, 87, 0.25)), rgba(87, 87, 87, 0.25);
        z-index: -1;
    }
    
    &:first-child,
    &:last-child {
        .category__name {
            right: auto;
            bottom: auto;
            left: 0px;
            top: 0px;
        }
    }
    
    &:nth-child(2) {
        .category__name {
            right: auto;
            left: 0px;
        }
    }
    
    &:nth-child(3) {
        .category__name {
            text-align: right;
        }
    }
}

.category__link {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.category__name {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 30px;
}

.category__icon {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 32px;
    
    .icon-more-arrow {
        &::before {
            color: #ffffff;
        }
    }
}


/* /Category */

/* News */

.news__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
    margin-bottom: -60px;
}

.news__item {
    width: calc(33.33% - 60px);
    margin-right: 60px;
    margin-bottom: 60px;
}

.news__header {
    position: relative;
}

.news__img {
    display: block;
    width: 100%;
    height: 283px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.news__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    background-color: rgba(61, 61, 61, 0.75);
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    
    span {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}

.news__autor {
    display: flex;
    color: #BDBDBD;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0px;
    font-family: "Proxima Nova", sans-serif;
    
    .icon {
        width: 11px;
        height: 13px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
}

.news__caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #292929;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.news__text {
    font-size: 16px;
    line-height: 150%;
    color: #949494;
    height: 120px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.item__more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    color: #575757;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    
    .icon-more-arrow {
        margin-left: 10px;
        
        &::before {
            color: #575757;
        }
    }
}

.news-slider__list {
    height: 496px;
    position: relative;
    margin-right: -30px;
    margin-bottom: 0px;
    margin-top: 50px;
}

.news-slider__item {
    width: calc(20% - 30px);
    opacity: 0;
    position: absolute;
    transform: translateX(calc(-100% - 60px));
    transition: transform .6s, opacity .6s;
    
    &.show {
        opacity: 1;
        transform: translateX(0px);
        
        + .news-slider__item {
            opacity: 1;
            transform: translateX(calc(100% + 30px));
            
            + .news-slider__item {
                opacity: 1;
                transform: translateX(calc(200% + 60px));
                
                + .news-slider__item {
                    opacity: 1;
                    transform: translateX(calc(300% + 90px));
                    
                    + .news-slider__item {
                        opacity: 1;
                        transform: translateX(calc(400% + 120px));
                        
                        ~ .news-slider__item {
                            opacity: 0;
                            transform: translateX(calc(500% + 150px));
                        }
                    }
                }
            }
        }
    }
}

/* /News */

/* Icons block */

.icons-block {
    margin: 100px 0px;
}

.icons-block__list__wrapper {
    max-width: 920px;
    margin: 0px auto;
}
.icons-block__list {
    display: flex;
    justify-content: space-between;
}

.icons-block__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px dashed #D3D3D3;
    
    &:last-child {
        margin-right: 0px;
    }
    
    &:nth-child(2) {
        .icons-block__img {
            height: 73px;
        }
    }
    
    .info {
        display: none;
    }
}

.icons-block__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.icons-block__info {
    width: 100%;
    padding: 22px 0px 23px;
    background-color: #252932;
    margin-top: 50px;
}

.icons-block__info__list {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    padding: 0px 20px;
}

/* /Icons block */

/* Reviews */

.reviews {
    margin-bottom: 100px;
}

.reviews-slider-list {
    margin-top: 50px;
    height: 141px;
    position: relative;
}

.reviews-slider__item  {
    width: calc(33.33% - 30px);
    position: absolute;
    transform: translateX(calc(-100% - 60px));
    transition: transform .6s, opacity .6s;
    
    &.show {
        opacity: 1;
        transform: translateX(0px);
        
        + .reviews-slider__item {
            opacity: 1;
            transform: translateX(calc(100% + 30px));
            
            + .reviews-slider__item {
                opacity: 1;
                transform: translateX(calc(200% + 60px));
                
                ~ .reviews-slider__item {
                    opacity: 0;
                    transform: translateX(calc(300% + 90px));
                }
            }
        }
    }
}
.reviews__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.reviews__item {
    display: flex;
    margin-right: 30px;
    
    .general__stars__item {
        font-size: 14px;
    }
    
    .item__more {
        display: none;
        
        &.show {
            display: block;
        }
    }
}

.reviews__info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.reviews__photo {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reviews__name {
    font-size: 14px;
    line-height: 130%;
    color: #575757;
    font-weight: 400;
}

.reviews__header {
    display: flex;
    justify-content: space-between;
}

.reviews__content {
    color: #4F4F4F;
}

.reviews__header {
    margin-bottom: 5px;
}

.reviews__name-product {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.reviews__date {
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

.reviews-slider__item {
    .reviews__body {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 72px;
    }
}

.reviews__body {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 13px;
}

.reviews__footer {
    display: flex;
    padding-top: 13px;
    border-top: 1px solid #D3D3D3;
    
    .item__more {
        margin-left: auto;
        margin-top: 0px;
    }
}

.reviews__icons {
    display: flex;
    align-items: center;
    
    &:first-of-type {
        margin-right: 28px;
    }
    
    .number {
        color: #575757;
        font-size: 14px;
        line-height: 14px;
        margin-left: 9px;
    }
}

.reviews__callback {
    display: flex;
    align-items: center;
    color: #575757;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    margin-left: 30px;
    transition: color .4s;
    
    .icon-message {
        margin-left: 9px;
        font-size: 14px;
        
        &::before {
            color: #575757
        }
    }
}


/* /Reviews */