@media screen and (max-width: 1680px) {
    /* Main banner */
    
    .main-banner__list {
        height: 334px;
    }
    
    /* Main Banner */
    
    /* Product */
    
    .product-slider__item {
        width: calc(20% - 30px);
        
        &.show {
            + .product-slider__item {
                + .product-slider__item {
                    
                    + .product-slider__item {
                        
                        + .product-slider__item {
                            
                            ~ .product-slider__item {
                                opacity: 0;
                                transform: translateX(calc(500% + 150px));
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* /Product */
    
    /* Category */
    
    .category__list {
        margin-bottom: -30px;
    }
    
    .category__item {
        width: calc(25% - 30px);
        margin-bottom: 30px;
    }
    
    /* Category */
    
    
    /* News */
    
    .news-slider__item {
        width: calc(25% - 30px);
        
        &.show {
            + .news-slider__item {
                
                + .news-slider__item {
                    
                    + .news-slider__item {
                        
                        ~ .news-slider__item {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    
    /* /News */
    
    /* Reviews */
    
    .reviews-slider__item {
        width: calc(48% - 30px);
    }
    
     /* /Reviews */
     
     /* Page product */
     
     .product-page__img {
         width: calc(50% - 25px);
     }
     
     .product-page__info-wrapper {
         width: calc(50% - 25px);
     }
     
     /* /Page product */
     
    /* Blog */
    
    .blog__container {
        width: calc(66% - 15px);
    }
    
    .news__list {
        margin-right: -30px;
    }
    
    .news__item {
        margin-right: 30px;
        width: calc(33.33% - 30px);
    }
    
    .general-popular {
        width: calc(34% - 15px);
    }
    
    /* /Blog */
}

@media screen and (max-width: 1480px) {
    
    /* Checkout */
    
    .input__wrapper .input-info {
        right: auto;
        top: auto;
        position: relative;
        display: flex;
        margin-top: 10px;
    }
    
    /* /Checkout */
}

@media screen and (max-width: 1380px) {
     /* Product */
    
    .product-slider__item {
        width: calc(25% - 30px);
        
        &.show {
            + .product-slider__item {
                
                + .product-slider__item {
                    
                    + .product-slider__item {
                        
                        ~ .product-slider__item {
                            opacity: 0;
                            transform: translateX(calc(400% + 150px));
                        }
                    }
                }
            }
        }
    }
    
    /* /Product */
    
    /* Category */

    .category__item {
        width: calc(33.333% - 30px);
    }
    
    /* Category */
    
    /* News */
    
    .news-slider__item {
        width: calc(33.33% - 30px);
        
        &.show {
            + .news-slider__item {
                + .news-slider__item {
                    ~ .news-slider__item {
                        opacity: 0;
                    }
                }
            }
        }
    }
    
    /* /News */
    
    /* Catalog */
    
    .catalog__content {
        .product__item {
            width: calc(33.33% - 30px);
        }
    }
    
    .catalog__filter {
        width: calc(22% - 15px);
    }
    
    .catalog__content {
        width: calc(78% - 15px);
    }
    
    .catalog__content__filter {
        .pagination__wrapper {
            display: none;
        }
    }
    
    .catalog__content__footer {
        flex-direction: column;
        align-items: center;
        
        .main-button-else {
            position: relative;
            top: 0px;
            transform: none;
            margin-top: 30px;
        }
    }
    
    /* /Catalog */
    
    /* Page product */
     
     .product-page__img {
         width: calc(52% - 15px);
     }
     
     .product-page__info-wrapper {
         width: calc(48% - 15px);
     }
     
     .product-page__general-img {
         width: calc(70% - 15px);
         padding: 10px;
     }
     
     .product-page__img__wrapper {
         width: calc(30% - 15px);
     }
     
     .product-name {
         height: 120px;
         -webkit-line-clamp: 4;
     }
     
     .product-page__info {
         padding-top: 20px;
         margin-top: 20px;
     }
     
     .product-page__general-info {
         width: calc(50% - 15px)
     }
     
     .product-page__characteristic {
         width: calc(50% - 15px);
     }
     
     .product-page__info-wrapper {
         .main-button {
             margin-top: 35px;
             width: calc(50% - 15px);
         }
     }
     
     
     .product__reviews__wrapper {
         .reviews__body {
             margin-bottom: 15px;
         }
     }
     
     /* /Page product */
     
     /* About us */
     
     .about-us__header {
         flex-direction: column;
     }
     
     .about-us__info {
         width: 100%;
     }
     
     .about-us-photo__list {
         width: 100%;
         margin-top: 40px;
     }
     
     .about-us__list {
         flex-direction: column;
     }
     
     .about-us__item {
         width: 100%;
         margin-bottom: 30px;
         
         &:last-child {
             margin-bottom: 0px;
         }
     }
     
     /* /About us */
     
    /* Blog */
    
    .blog__wrapper {
        margin-top: 20px;
        margin-bottom: 80px;
    }
    
    .news__item {
        width: calc(50% - 30px);
    }
    
    /* /Blog */
    
    /* Reviews */
    
    
    .reviews-page__wrapper {
        .reviews__list {
            column-count: auto;
            margin-right: 0px;
        }
        
        .reviews__item {
            width: 100%;
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
        
        .add-reviews__wrapper {
            max-width: 100%;
        }
    }
    
    /* Reviews */
    
    /* Checkout */
    
    .order-product__header {
        > .item {
            width: calc(50% - 15px);
        }
        
        .wrapper {
            width: calc(50% - 15px);
        }
    }
    
    .order-product__item_wrapper {
        &:first-child {
            width: calc(50% - 15px);
        }
        
        &:last-child {
            width: calc(50% - 15px);
        }
    }
    
    .order-product__name {
        width: calc(75% - 15px);
    }
    
    .order-product__img {
        width: calc(25% - 15px);
    }
    
    .radio__wrapper {
        width: calc(60% - 5px);
        font-size: 16px;
        
        &:last-of-type {
            width: calc(40% - 5px);
        }
    }
    
    /* /Checkout */
    
    /* Payment */
    
    .profile__noty__footer {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .profile__noty__status {
        width: 100%;
        margin-top: 10px;
    }
    
    /* /Payment */
    
    /* Favorite */
    
    .favorite-product__wrapper {
        .product__item {
            width: calc(33.333% - 30px);
        }
    }
    
    /* /Favorite */
}

@media screen and (max-width: 1180px) {
    /* Page product */
    
    .product-page__general-info__footer {
         flex-direction: column;
         align-items: flex-start;
         
         .product__price {
             margin-bottom: 20px;
             
             .old__price {
                 margin-bottom: 0px;
             }
         }
     }
     
     .product-name {
         height: 90px;
        -webkit-line-clamp: 3;
     }
     
     /* /Page product */
     
      /* Blog */
    
    .general-popular__caption {
        font-size: 18px;
        line-height: 27px;
    }
    
    .general-popular__list {
        padding-top: 20px;
        margin-top: 20px;
    }
    
    .general-popular__item {
        flex-direction: column;
    }
    
    .general-popular__img {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .general-popular__info {
        width: 100%;
    }
    
    .general-popular {
        padding: 30px;
    }
    
    .popular__info__caption {
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 5px;
    }
    
    .general-popular__date {
        font-size: 12px;
        line-height: 12px;
        
        .decor {
            width: 12px;
            height: 10px;
        }
    }
    
    .blog__container {
        .main-button-else {
            margin: 30px auto 0px;
        }
    }
    
    /* /Blog */
    
    /* Blog page */
    
    .blog-page__content {
        .general-popular__date .decor {
            width: 13px;
            height: 16px;
        }
        
        .general-popular__date,
        .news__autor {
            font-size: 14px;
            line-height: 14px;
        }
    }
    
    /* Blog page */
    
}
@media screen and (max-width: 1080px) {
    
    /* Main banner */
    
    .main-banner__list {
        margin-bottom: 80px;
    }
    
    /* /Main banner */
    
     /* Product */
     
    .product {
        margin-bottom: 80px;
    }
    
    .product-slider__list {
        height: 375px;
    }
    
    .product-slider__item {
        width: calc(31% - 30px);
    }
    
    .product__item {
        padding-top: 0px;
    }
    
    .add-to-favorites {
        width: 48px;
        height: 48px;
    }
    
    .product__img {
        height: 236px;
    }
    
    .product__name {
        margin: 20px 0px 13px;
        -webkit-line-clamp: 3;
        font-size: 16px;
        height: 65px;
        transition: color .4s;
    }
    
    .general__stars__item {
        font-size: 14px;
    }
    
    /* /Product */
    
    /* Category */
    
    .category {
        margin-bottom: 80px;
    }
    
    .category__list {
        justify-content: center;
    }
    
    .category__item {
        width: calc(50% - 30px);
    }
    
    /* Category */
    
    /* News */
    
    .news-slider__list {
        height: 362px;
    }
    
    .news-slider__item {
        width: calc(45% - 30px);
        transform: translateX(calc(-100% - 30px));
        
        &.show {
            + .news-slider__item {
                transform: translateX(calc(100% + 30px));
                
                + .news-slider__item {
                    transform: translateX(calc(200% + 60px));
                    
                    ~ .news-slider__item {
                        opacity: 0;
                        transform: translateX(calc(300% + 90px));
                    }
                }
            }
        }
    }
    
    .news__img {
        height: 187px;
    }
    
    .news__text {
        height: 72px;
        -webkit-line-clamp: 3;
    }
    
    .item__more {
        margin-top: 20px;
    }
    
    /* /News */
    
    /* Icons block  */
    
    .icons-block {
        margin: 80px 0px;
    }
    
    .icons-block__info {
        margin-top: 30px;
    }
    
    /* Icons block */
    
    /* Reviews */
    
    .reviews {
        margin-bottom: 80px;
    }
    
    .reviews-slider__item {
        width: calc(80% - 30px);
    }
    
    .reviews__photo {
        margin-bottom: 10px;
    }
    
    .reviews__footer {
        padding-top: 10px;
    }
     /* /Reviews */
     
     /* Catalog */
     
     .catalog__wrapper {
         margin-bottom: 80px;
     }
     
     .catalog__number {
         display: none;
     }
     
     .catalog__content__filter {
         margin: 30px 0px 45px;
     }
     
     .catalog__content {
         width: 100%;
         
         .main-caption-m {
             text-align: center;
         }
         
         .product__add-to-cart {
             position: relative;
             opacity: 1;
             top: 0px;
             left: 0px;
             transform: none;
             margin-top: 25px;
             max-width: 100%;
         }
     }
     
     .catalog__filter {
         width: 0px;
         height: 0px;
         position: absolute;
     }
     .catalog__category {
         display: none;
     }
     
     .catalog__checked,
     .catalog__category {
        position: fixed;
        right: -100%;
        top: 0px;
        width: 47%;
        height: 100%;
        background-color: #ffffff;
        padding: 50px;
        transition: right .4s;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 3;
        
        &.active {
            right: 0px;
        }
     }
     
          
    .catalog__close {
        display: block;
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 25px;
        padding: 5px;
    }
     
     .catalog__list {
         margin-bottom: 0px;
         margin-top: 30px;
     }
     
     .catalog__table-filter {
         display: flex;
     }
     
     /* /Catalog */
     
     /* Page product */
     
     .product-content {
         margin-bottom: 80px;
     }
     
     .product-page__wrapper {
         margin-bottom: 80px;
     }
     
     .product-page__img {
         width: calc(50% - 15px);
     }
     
     .product-page__img__wrapper {
         width: calc(30% - 5px);
     }
     
     .product-page__general-img {
         width: calc(70% - 5px);
         
         .add-to-favorites {
             width: 44px;
             height: 44px;
         }
     }
     
     .product-page__img__list {
         height: 253px;
     }
     
     .product-page__img__item {
         padding: 10px 30px;
         height: 55px;
     }
     
     .product-page__info-wrapper {
         display: flex;
         flex-direction: column;
         width: calc(50% - 15px);
     }
     
     .product-name {
        font-size: 18px;
        line-height: 21px;
        height: auto;
        -webkit-line-clamp: 3;
        padding-right: 0px;
     }
     
     .product-page__info {
         .product-page__characteristic {
             display: none;
         }
     }
     
     .product-page__general-info {
         width: 100%;
     }
     
     .product-add__reviews {
         margin-top: 20px;
     }
     
     .product-page__general-info__footer {
         flex-direction: row;
         align-items: flex-end;
         margin-top: 20px;
         
         .product__price {
             margin-bottom: 0px;
             
             .old__price {
                margin-bottom: 10px;
            }
         }
     }
     
     .product-page__info-wrapper {
         .main-button {
             margin-top: auto;
             width: 100%;
         }
     }
     
     .product-characteristic {
         display: block;
         width: 100%;
         margin-bottom: 80px;
     }
     
     .product-page__characteristic {
         width: 100%;
     }
     
     .product-info__wrapper {
         padding: 30px;
         
        .reviews__item  {
            margin-bottom: 30px;
            
            .reviews__list {
                padding-left: 100px;
            }
            
            .reviews__item {
                margin-top: 30px;
            }
        }
     }
     
     .add-reviews {
         margin-top: 80px;
     }
     
     .add-reviews__wrapper {
         padding: 30px;
     }
     
     
     /* /Page product */
     
     /* Faq */
     
     .faq {
         margin-bottom: 80px;
     }
     
    .faq__list {
        flex-direction: column;
        margin-right: 0px;
        margin-top: 30px;
    }
    
    .faq__item {
        width: 100%;
        margin-right: 0px;
    }
    
    .faq__number {
        margin-bottom: 10px;
    }
    
    .faq__caption {
        font-size: 20px;
        line-height: 24px;
    }
    
    /* /Faq */
    
    /* About us */ 
    
    .about-us__header {
        margin: 30px 0px 80px;
    }
    
    .about-us__caption {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
    }
    
    .about-us-photo__item {
        height: 225px;
    }
    
    .about-us__item {
        .caption {
            margin-bottom: 20px;
        }
    }
    
    .about-us__footer {
        margin: 80px 0px;
        
        h3 {
            font-size: 30px;
        }
    }
    
    /* /About us */ 
    
    /* Contact */
    
    .contact__wrapper {
        margin-bottom: 80px;
    }
    
    .contact__caption {
        font-size: 20px;
        line-height: 24px;
    }
    
    .contact__info_header {
        flex-direction: column;
    }
    
    .contact__header_item {
        width: 100%;
        
        &:first-child {
            margin-bottom: 30px;
        }
    }
    
    .contact__info_body {
        margin: 30px 0px 20px;
    }
    
    .contact__info_footer {
        height: 225px;
    }
    
    .contact__form {
        .input__wrapper {
            margin-bottom: 20px;
        }
        
        .form-button {
            margin: 20px auto 0px;
        }
    }
    
    /* /Contact */
    
    /* Blog page */
    
    .blog-page {
        .main-caption {
            font-size: 24px;
            line-height: 36px;
        }
    }
    
    .blog-page__wrapper {
        margin-bottom: 75px;
        
        .general-popular {
            margin-top: 70px;
        }
    }
    
    .blog-page__content {
        width: calc(65% - 15px);
        
        .news__autor {
            margin: 10px 0px;
        }
        
        .general-popular__date .decor {
            width: 12px;
            height: 14px;
        }
        
        .add-reviews {
            margin-top: 30px;
        }
        
        .add-reviews__wrapper {
            margin-bottom: 50px;
        }
        
        .form-button {
            margin: 20px 0px 0px auto;
            max-width: 57%;
        }
        
        .reviews__list {
            width: calc(100vw - 40px);
        }
    }

    
    .blog-page__info {
        h4 {
            font-size: 20px;
            line-height: 130%;
            margin-bottom: 20px;
        }
    }
    
    .blog-page__img {
        height: 160px;
        margin: 20px 0px;
    }
    
    /* /Blog page */
    
    /* Reviews */
    
    .reviews-page__wrapper {
        margin-bottom: 80px;
        
        .add-reviews__wrapper {
            margin: 30px 0px 80px;
        }
        
        .reviews__item {
            margin-bottom: 50px;
        }
        
        .add-reviews {
            margin-top: 0px;
        }
    }
    
    /* Reviews */
    
    /* Checkout */
    
    .order-product__wrapper {
        margin-top: 30px;
    }
    
    .order-product__header {
        .wrapper {
            display: none;
        }
    }
    
    .order-product__item {
        position: relative;
        padding-bottom: 55px;
        
        .name-order {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-right: 30px;
        }
    }
    
    .order-product__item_wrapper {
        &:first-child {
            width: calc(67% - 20px);
        }
        
        &:last-child {
            width: calc(33% - 20px);
        }
    }
    
    .order-product__img {
        height: 96px;
    }
    
    .order-product__calc {
        width: calc(100% - 90px);
    }
    
    .order-product__price {
        width: 60%;
        text-align: left;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0px;
        bottom: 20px;
        margin-left: 18%;
    }
    
    .order-product__total {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0px;
        bottom: 20px;
    }
    
    .profile__wrapper {
        margin: 80px 0px 80px;
    }
    
    .profile__wrapper_checkout {
        flex-direction: column;
    }
    
    .profile__info_checkout {
        width: 100%;
    }
    
    .profile__info {
        padding: 30px;
    }
    
    .profile__noty {
        padding: 30px;
    }
    
    .profile-form__caption {
        font-size: 20px;
        line-height: 130%;
    }
    
    .profile-form {
        .main-textarea {
            height: 215px;
        }
    }
    
    .profile-form__radio {
        margin-bottom: 20px;
    }
    
    .profile-form__text {
        margin-bottom: 20px;
    }
    
    .profile__noty_checkout {
        width: 100%;
        margin-top: 30px;
        
        .main-button {
            max-width: 480px;
        }
    }
    
    .profile__noty__caption {
        font-size: 20px;
        line-height: 110%;
    }
    
    .profile__noty_checkout {
        .checkout__general-price {
            margin-bottom: 30px;
        }
    }
    
    
    /* /Checkout */
    
    /* Payment */
    
    .form-payment {
        padding: 30px;
        margin: 30px 0px 80px;
    }
    
    .form-payment__item {
        font-size: 14px;
        line-height: 130%;

        h5 {
            font-size: 20px;
            line-height: 130%;
        }
    }
    
    /* /Payment */
    
    /* My Profile */
    
    .my-order__wrapper {
        margin-bottom: 80px;
    }
    
    .profile__caption {
        font-size: 20px;
        line-height: 130%;
        margin: 30px 0px;
    }
    
    .my-order__table__wrapper {
        .form-button {
            max-width: 100%;
        }
    }
    
    .my-order__table__header {
        display: none;
    }
    
    .order__wrapper {
        margin-bottom: 50px;
    }
    
    .my-order__list {
        flex-direction: column;
        padding-bottom: 20px;
    }
    
    .my-order__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        
        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    .my-order__type {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    
    .profile-menu__item {
        font-size: 14px;
        line-height: 130%;
        
        .icon-my-profile {
            font-size: 16px;
        }
        
        .icon-my-order {
            font-size: 15px;
        }
        
        .icon-like {
            font-size: 16px;
            margin-right: 16px;
        }
        
        .icon-change-pass {
            font-size: 14px;
            margin-right: 19px;
        }
        
        .icon-esc {
            font-size: 12px;
        }
    }
    
    .my-profile__wrapper {
        margin-bottom: 80px;
    }
    
    .profile-form__delivery {
        flex-direction: column;
    }
    
    .profile-form__delivery__wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .input-date {
        max-width: 100%;
    }
    
    /* /My Ptofile */
    
    /* Favorite */
    
    .favorite__wrapper {
        margin-bottom: 80px;
    }
    
    .favorite-product__wrapper {
        .product__item {
            width: calc(50% - 30px);
        }
        
        .main-button-else {
            margin: 30px 0px 0px auto;
        }
    }
    
    /* /Favorite */
    
    /* Change password */

    .change-password__wrapper {
        margin-bottom: 80px;
    }

    /* /Change password */
    
    /* Enter */

    .enter__wrapper {
        margin-bottom: 80px;
        
        .main-caption {
            margin-bottom: 30px;
        }
    }
    
    /* Enter */
}

@media screen and (max-width: 767px) {
    
    /* Banner */
    
    .main-banner__list {
        height: 200px;
    }
    
    /* /Banner */
    
    /* Product */
    
    .product-slider__item {
        width: calc(45% - 30px);
    }
    
    /* /Product */
    
    
    /* Reviews */
    
    .reviews-slider__item {
        width: calc(90% - 30px);
    }
    
    /* /Reviews */
    
    /* Catalog */
    
    .catalog__content {
        .product__item {
            width: calc(50% - 30px);
        }
    }
    .catalog__checked, 
    .catalog__category {
        width: 65%;
    }
    
    /* /Catalog */
    
    /* Product page */
    
    .product-page__img__item {
        padding: 10px;
    }
    
    .product__reviews__wrapper {
        .reviews__item {
            .reviews__list {
                padding-left: 50px;
            }
        }
    }
    
    /* /Page product */
    
    /* About us */  
    
    .about-us-photo__item {
        width: calc(50% - 15px);
        
        &:nth-child(n + 3) {
            display: none;
        }
    }
    
    /* /About us */
    
    /* Blog */
    
    .blog__wrapper {
        flex-direction: column;
    }
    
    .blog__container {
        width: 100%;
    }
    
    .general-popular {
        width: 100%;
        margin-top: 60px;
    }
    
    .general-popular__img {
        height: 170px;
    }
    
    /* /Blog */
    
    /* Blog page */
    
    .blog-page__wrapper {
        flex-direction: column;
        margin-bottom: 80px;
        
         .general-popular {
            display: none;
        }
        
        .product__reviews__wrapper {
            display: block;
        }
    }
    
    .blog-page__content {
        width: 100%;
        
        .news__autor {
            margin-top: 20px;
        }
    }
    
    .blog-page__img {
        height: 183px;
    }
    
    .blog-page__info {
        font-size: 18px;
        
        h4 {
            font-size: 18px;
        }
    }
    
    /* /Blog page */
    
    /* Reviews */
    
    .reviews-page__wrapper {
        margin-bottom: 50px;
        
        .add-reviews__wrapper {
            margin: 20px 0px 50px;
        }
    }
    
     /* /Reviews */
     
     /* Checkout */
     
     .order-product__item {
         .name-order {
             margin-right: 15px;
             font-size: 13px;
             line-height: 13px;
         }
     }
    
    .profile__wrapper {
        margin: 50px 0px 50px;
        flex-direction: column;
    }
    
    .profile__info {
        width: 100%;
    }
    
    
    .profile__noty_payment {
        width: 100%;
        margin-top: 50px;
    }
    
    .profile__noty__footer {
        flex-direction: row;
        align-items: center;
    }
    
    .profile__noty__status {
        height: 60px;
        width: 50%;
    }
    
    
    .profile-form_checkout {
        flex-direction: column;
    }
    
    .profile-form__wrapper {
        width: 100%;
        
        &:last-of-type {
            margin-top: 30px;
        }
    }
    
     .order-product__price {
         margin-left: 0px;
     }
     
    
     /* / Checkout */
     
     /* My profile */
     
     .general__wrapper {
         flex-direction: column;
     }
     
     .profile__noty_general {
         order: -1;
         width: 100%;
         margin-bottom: 50px;
     }
     
     .my-order__table__wrapper {
         width: 100%;
     }
     
     /* /My profile */
     
     /* Favorite */
    
    .favorite__wrapper {
        margin-bottom: 50px;
    }
    
    .favorite-product__wrapper {
        width: 100%;
        
        .main-button-else {
            margin: 30px auto 0px;
        }
        
        .general-more {
            display: none;
        }
    }
    
    /* /Favorite */
    
    /* Change password */

    .change-password__wrapper {
        margin-bottom: 50px;
    }

    /* /Change password */
}

@media screen and (max-width: 575px) {
    /* Banner */
    
    .main-banner {
        margin-top: -30px;
    }
    
    .main-banner__list {
        height: 130px;
        margin-bottom: 30px;
    }
    
    /* Product */
    
     .product__list {
        margin-right: -20px;
        margin-bottom: -30px;
        margin-top: 30px;
    }
    
    .product__item {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 30px;
    }
    
    .add-to-favorites {
        width: 36px;
        height: 36px;
        
        .icon-like {
            font-size: 12px;
        }
    }
    .product__img {
        height: 118px;
    }
    
    .product__name {
        margin: 10px 0px;
        height: 51px;
        font-size: 12px;
        line-height: 17px;
    }
    
    .product__footer {
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        border: none;
    }
    
    .product__price {
        order: -1;
        margin-bottom: 10px;
    }
    
    .current_price {
        font-size: 14px;
        line-height: 14px;
    }
    
    .product {
        margin-bottom: 50px;
    }
    
    .general-more {
        font-size: 14px;
        line-height: 14px;
        align-items: flex-end;
        display: none;
        
        .icon-more-arrow {
            font-size: 20px;
            margin-left: 10px;
        }
    }
    
    .general-more_mobile {
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-top: 40px;
        right: 0px;
        bottom: 0px;
    }
    
    .product__list-mobile {
        height: auto;
        margin-bottom: -30px;
        
        .product-slider__item {
            position: relative;
            opacity: 1;
            transform: none !important;
            
            &:nth-child(n + 3) {
                display: none;
            }
        }
    }
    
    /* /Product */
    
    /* Category */
    
    .category {
        display: none;
    }
    
    // .category__list {
    //     margin-right: 0px;
    //     margin-top: 20px;
    //     margin-bottom: -20px;
    // }
    
    // .category__item {
    //     margin-right: 0px;
    //     width: 100%;
    //     margin-bottom: 20px;
    // }
    
    // .category__name {
    //     font-size: 25px;
    //     line-height: 110%;
    //     padding: 20px;
    // }
    
    // .category__icon {
    //     top: 20px;
    //     right: 20px;
    // }
    
    /* /Category */
    
    /* News */
    
    .news {
        margin-bottom: 50px;
    }
    
    .news__list {
        margin-right: 0px;
        margin-bottom: -50px;
    }
    
    .news__item {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    
    .news__img {
        height: 235px;
    }
    
    .news__autor {
        margin: 20px 0px 10px;
    }
    
    .news__text {
        height: 96px;
        -webkit-line-clamp: 4;
    }
    
    .item__more {
        margin-top: 10px;
    }
    
    .news-slider-mobile {
        height: auto;
        margin-bottom: -50px;
        
        .news-slider__item {
            position: relative;
            opacity: 1;
            transform: none !important;
            
            &:nth-child(n + 4) {
                display: none;
            }
        }
    }
    
    /* /News */
    
    /* Icons block */
    
    .icons-block__list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 144px;
    }
    
    .icons-block__item {
        width: 100px;
        height: 100px;
        position: relative;
        margin-bottom: 114px;
        
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100vw;
            height: 44px;
            top: calc(100% + 20px);
            background-color: #252932;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
            text-align: center;
        }
        
        &:last-child {
            margin-bottom: 0px;
        }
        
        &:nth-child(2) {
            .icons-block__img {
                height: 46px;
            }
        }
    }
    
    .icons-block__img {
        width: 38px;
        height: 38px;
    }
    
    .icons-block__info {
        display: none;
    }
    
    /* /Icons block */
    
    /* Reviews */
    
    .reviews {
        margin-bottom: 50px;
    }
    
    .reviews__list {
        margin-right: 0px;
    }
    
    .reviews__item {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 50px;
        flex-direction: column;
    }
    
    .reviews__content {
        margin-top: 20px;
    }
    
    .reviews__header {
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .reviews__body {
        margin-bottom: 20px;
    }
    
    .reviews__footer {
        position: relative;
        
        .item__more {
            position: absolute;
            right: 0px;
            top: -30px;
        }
    }
    
    .reviews-slider__item {
        .reviews__body {
            max-height: 144px;
            margin-bottom: 38px;
        }
    }
    
    .reviews__date {
        order: -1;
        margin-bottom: 10px;
    }
    
    .reviews-slider-mobile {
        height: auto;
        margin-bottom: -30px;
        
        .reviews-slider__item {
            opacity: 1;
            transform: none !important;
            position: relative;
            
            &:nth-child(n + 4) {
                display: none;
            }
        }
    }
    
    /* Reviews */
    
    /* Catalog */
    
    .catalog__wrapper {
        margin-bottom: 50px;
    }
    
    .catalog__content {
        display: flex;
        flex-direction: column;
        
        .product__add-to-cart {
            display: none;
        }
        
        .main-caption-m {
            text-align: left;
        }
    }
    
    .catalog__checked,
    .catalog__category {
        display: block;
        width: 100%;
        padding: 40px 20px;
     }
    
    .catalog__content__filter {
        margin-right: -20px;
        order: -1;
        margin: 0px 0px 40px;
    }
    
    .catalog__content__drop {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .catalog__drop__wrapper{
        max-width: calc(50% - 10px);
        margin-right: 0px;
    }
    
    .catalog__mobile-category {
        display: flex;
        max-width: 100%;
        margin-right: 0px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
        
        .catalog__drop__button  {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3D3D3D;
        }
    }
    
    .catalog__drop__button {
        padding: 0px 20px;
    }
    
    .catalog__drop__item {
        padding: 10px 20px;
    }
    
    .catalog__content__footer {
        margin-top: 0px;
    }
    
    .pagination__wrapper {
        display: none;
    }
    
    /* /Catalog */
    
    /* Page product */
    
    .product-content {
        margin-bottom: 50px;
    }
    
    .product-page__wrapper {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    
    .product-page__img {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .product-page__img__wrapper {
        width: 100%;
        
    }
    
    .product-page__img__list {
        display: flex;
        height: auto;
    }
    
    .product-page__img__item {
        flex-shrink: 0;
        width: calc(25% - 10px);
        margin-right: 10px;
        margin-bottom: 0px;
    }
    
    .product-page__general-img {
        width: 100%;
        height: 230px;
        order: -1;
        padding: 30px;
    }
    
    
    .product-page__noty {
        top: 10px;
    }
    
    .img-button {
        display: none;
    }
    
    .product-page__info-wrapper {
        width: 100%;
        margin-top: 20px;
    }
    
    .product-add__reviews {
        display: none;
    }
    
    .product-page__info {
        padding-top: 15px;
    }
    
    .product-page__general-info__header {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .product-page__general-info__footer {
        order: -1;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px 0px 30px;
        
        .product__price {
            flex-direction: row;
            align-items: center;
            margin-bottom: 15px;
            
            .old__price {
                order: 3;
                margin: 0px 0px 0px 32px;
            }
        }
    }
    
    .product-info__wrapper {
        padding: 0px;
        box-shadow: none;
    }
    
    .product-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding-bottom: 15px;
        
        .icon-to-top {
            font-size: 8px;
            
            &::before {
                display: block;
                color: #3D3D3D;
                transform: rotate(-180deg);
                transition: transform .4s;
            }
        }
    }
    
    .product-tabs__list {
        display: none;
    }
    
    .product-characteristic {
        border-bottom: 1px solid #EAEAEA;
        margin-bottom: 15px;
        
        &.active {
            .characteristic__list {
                display: block;
                animation: tabs-1 .4s;
            }
            
            .product-button {
                .icon-to-top {
                    &::before {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
    
    .product-page__characteristic {
        h5 {
            display: none;
        }
    }
    
    .characteristic__list {
        display: none;
        border: none;
        padding-top: 0px;
        margin-bottom: 30px;
    }
    
    @keyframes tabs-1 {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
    
    @keyframes tabs-2 {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
    
    @keyframes tabs-3 {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
    
    .product__description {
        display: block;
        margin-bottom: 15px;
        border-bottom: 1px solid #EAEAEA;
        
        h3 {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
        }
        
        p {
            font-size: 14px;
        }
        
        .content {
            display: none;
            margin-top: 15px;
            padding-bottom: 20px;
        }
        
        &.active {
            
            .product-button {
                .icon-to-top {
                    &::before {
                        transform: rotate(0deg);
                    }
                }
            }
            
            .content {
                display: block;
                animation: tabs-2 .4s;
            }
            
        }
    }
    
    .product__reviews {
        border-bottom: 1px solid #EAEAEA;
        
        &.active {
            border: none;
            
            .product__reviews__wrapper {
                display: block;
                animation: tabs-3 .4s;
            }
            
            .product-button {
                .icon-to-top {
                    &::before {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }
    
    .product__reviews__wrapper {
        display: none;
        
        .reviews-item__wrapper {
            flex-direction: column;
        }
        
        .reviews__header {
            margin-bottom: 10px;
        }
        
        .reviews__date {
            margin-bottom: 0px;
        }
        
        .reviews__item {
            margin-bottom: 50px;
            
            .reviews__item {
                margin-top: 50px;
            }
            
            .reviews__list {
                padding-left: 40px;
            }
        }
    }
    
    .add-reviews {
        margin-top: 50px;
    }
    
    .add-reviews__wrapper {
        padding: 20px;
    }
    
    .add-reviews__caption {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .stars__caption {
        font-size: 16px;
        line-height: 19px;
    }
    
    .add-reviews__header {
        margin-bottom: 20px;
        position: relative;
    }
    
    .general__stars__list {
        &.form-stars {
            position: absolute;
            right: 0px;
            bottom: -40px;
        }
    }
    
    .add-reviews__footer {
        flex-direction: column;
        
        .input__wrapper {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    .form-button {
        margin-top: 10px;
    }
    
    /* /Page product */
    
    /* Faq */
    
    .faq {
        margin-bottom: 50px;
    }
    
    .faq__list {
        margin-top: 20px;
    }
    
    .faq__item {
        margin-bottom: 20px;
        padding: 20px;
    }
    
    .faq__item_header {
        display: flex;
        align-items: center;
    }
    
    .faq__number {
        margin-bottom: 0px;
        margin-right: 20px;
        flex-shrink: 0;
    }
    
    .faq__caption {
        font-size: 16px;
        line-height: 120%;
    }
    
    /* /Faq */
    
    /* About us */
    
    .about-us__header {
        margin: 30px 0px;
    }
    
    .about-us__caption {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .about-us-photo__list {
        margin-top: 20px;
    }
    
    .about-us-photo__item {
        width: 100%;
        height: 280px;
        
        &:nth-child(n + 2) {
            display: none;
        }
    }
    
    .about-us__item {
        padding: 20px;
        margin-bottom: 20px;
        
        .caption {
            font-size: 18px;
        }
        
        p {
            font-size: 16px;
        }
    }
    
    .about-us__footer {
        margin: 50px 0px;
        
        h3 {
            font-size: 20px;
            line-height: 120%;
        }
    }
    
    /* /About us */
    
    /* Contact */
    .contact__wrapper {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .contact__info {
        width: 100%;
    }
    
    .contact__header_item {
        &:first-child {
            margin-bottom: 40px;
        }
    }
    
    .contact__info_body {
        margin: 40px 0px 20px;
    }
    
    .contact__info_footer {
        height: 350px;
    }
    
    .contact__form {
        width: 100%;
        margin-top: 50px;
    }
    
    /* /Contact */
    
    /* Blog */
    
    .blog__wrapper {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .general-popular__item {
        flex-direction: row;
    }
    
    .general-popular__img {
        width: calc(50% - 10px);
    }
    
    .general-popular__item {
        margin-bottom: 20px;
    }
    
    .general-popular__img {
        height: 85px;
        margin-bottom: 0px;
    }
    
    .general-popular__info {
        display: flex;
        flex-direction: column;
        width: calc(50% - 10px);
    }
    
    .general-popular__date {
        margin-top: auto;
    }
    
    /* Blog */
    
    /* Checkout */
    
    .cart-mobile__wrapper {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .checkout__general-price-delivery {
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    
    .order-product__item {
        flex-direction: column;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    
    .order-product__item_wrapper {
        
        &:first-child {
            width: 100%;
            margin-bottom: 20px;
        }
        
        &:last-child {
            width: 100%;
        }
    }
    
    .order-product__img {
        width: calc(25% - 5px);
        height: 55px;
        margin-right: 10px;
    }
    
    .order-product__name {
        width: calc(75% - 5px);
    }
    .order-product__delete {
        width: 36px;
        height: 36px;
        margin-left: 10px;
        flex-shrink: 0;
    }
    
    .order-product__calc {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #575757;
        width: calc(25% - 10px);
        
        .change-icon {
            display: flex;
            margin-left: 5px;
            width: 13px;
            height: 13px;
            background: url(../img/icon-change.svg) center / contain no-repeat
        }
        
        button {
            display: flex;
            align-items: center;
        }
    }
    
    .order-product__price {
        position: static;
        width: calc(42.33% - 10px);
        
        .product__price {
            margin-bottom: 0px;
        }
    }
    
    .order-product__total {
        position: static;
        width: calc(33.33% - 10px);
    }
    
    .profile__noty {
        margin-top: 0px;
        padding: 20px;
        
        .checkout__general-price {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
            
            .general {
                margin-top: 20px;
            }
        }
    }
    
    .profile__noty__footer {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .profile__noty__status {
        width: 100%;
        margin-top: 10px;
    }
    
    /* //Checkout */
    
    /* Registration order */
    
    .registration-oreder__wrapper {
        margin-bottom: 50px;
    }
    
    .registration-order__header {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .registration-order__list {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    
    .registration-order__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        position: relative;
        color: rgba(128, 180, 53, 0.5);
        
        &.active {
            color: #80B435;
            
            .decor {
                border-color: #80B435;
            }
        }
        
        &:nth-child(2) {
            &::before {
                content: "";
                position: absolute;
                left: calc(-50% + 15px);
                top: 10px;
                width: calc(100% - 30px);
                height: 1px;
                background: rgba(128, 180, 53, 0.5);
            }
            
            &::after {
                content: "";
                position: absolute;
                right: 0px;
                right: calc(-50% + 15px);
                top: 10px;
                width: calc(100% - 30px);
                height: 1px;
                background: rgba(128, 180, 53, 0.5);
            }
        }

        .decor {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(128, 180, 53, 0.5);
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            border-radius: 50%;
        }
    }
    
    .profile-form__caption_mobile {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        
        a {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-decoration-line: underline;
            text-transform: initial;
        }
    }
    
    .profile-form {
        .input__wrapper {
            margin-bottom: 20px;
        }
        
        .main-textarea {
            height: 145px;
        }
    }
    
    .input__wrapper {
        .input-info {
            font-size: 12px;
            line-height: 14px;
        }
    }
    
    .profile-form__wrapper {
        margin-bottom: 20px;
        
        &:last-child {
            margin-top: 0px;
        }
    }
    
    .profile-form__radio {
        flex-direction: column;
        margin-bottom: 30px;
        align-items: flex-start;
    }
    
    .profile-form__radio_gender {
        .radio__wrapper {
            font-size: 14px;
            line-height: 17px;
            margin-right: 50px;
            
            .custome__radio {
                margin-right: 10px;
            }
            
            &:last-of-type {
                margin-top: 0px;
            }
        }
    }
    
    .radio__wrapper {
        width: 100%;
        
        &:last-of-type {
            width: 100%;
            margin-top: 20px;
        }
    }
    
    
    .form-payment {
        margin: 30px 0px 50px;
        padding: 0px;
        background-color: #ffffff;
    }
    
    .form-payment__form {
        flex-direction: column;
        align-items: center;
    }
    
    .form-payment__item {
        width: 100%;
        
        h5 {
            font-size: 16px;
            line-height: 130%;
            margin: 20px 0px 5px;
        }
        
        &:first-child {
            margin-bottom: 50px;
        }
        
        .icon-pay {
            font-size: 34px;
        }
        
        .icon-pay-online {
            font-size: 37px;
        }
    }
    
    
    /* //Registration order */
    
    /* My Profile */
    
    
    .profile__info {
        padding: 20px;
    }
    
    .my-profile__wrapper {
        margin-bottom: 50px;
    }
    
    .profile__caption {
        font-size: 18px;
        line-height: 130%;
    }
    
    .order__wrapper {
        margin-bottom: 30px;
    }
    
    .my-order__list_mobile {
        .my-order__item {
            &:nth-child(n + 3) {
                display: none;
            }
            
            &:nth-child(2) {
                margin: 0px;
            }
        }
    }
    
    .my-order__item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .my-order__type {
        margin-bottom: 10px;
    }
    
    .mobile-more__info {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding-bottom: 20px;
        
        .text {
            text-decoration-line: underline;
        }
        
        .icon-arrow-filter {
            transform: rotate(90deg);
            margin-left: 25px;
            font-size: 20px;
        }
    }
    
    .mobile-more__info_back {
        margin-bottom: 10px;
        
        .icon-arrow-filter {
            transform: rotate(-90deg);
            margin-left: 0px;
            margin-right: 25px;
        }
        
    }
    
    .profile-menu__item {
        font-size: 16px;
        line-height: 130%;
    
        .icon-my-profile {
            font-size: 18px;
            margin-right: 19px;
        }
        
        .icon-my-order {
            margin-right: 18px;
        }
        
        .icon-like {
            font-size: 18px;
            margin-right: 15px;
        }
        
        .icon-change-pass {
            font-size: 18px;
            margin-right: 18px;
        }
        
        .icon-esc {
            font-size: 14px;
            margin-right: 16px;
        }
    }
    
    .my-order-more {
        margin-bottom: 50px;
        
        .order-product__name {
            margin-right: 40px;
        }
    }
    
    .profile-pay__wrapper_more {
        margin-top: 10px;
    }
    
    /* My profile */
    
    /* Enter */

    .enter__wrapper {
        margin-bottom: 50px;
        
        .main-button {
            margin-top: 20px;
        }
    }
    
    .enter__footer {
        margin-bottom: 30px;
    }
    
    /* Enter */
}


@media screen and (min-width: 575px) {
    .display-none-desktop {
        display: none;
    }
}